<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style2.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
</head>
<body>
	<nav class="navbar navbar-inverse menu-header">
	  	<div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
		    </div>
		    <div class="collapse navbar-collapse menu-cate" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li><a href="#">Home</a></li>
		        <li><a href="">Về chúng tôi</a></li>
		        <li><a href="#">Sản phẩm & dịch vụ</a></li>
		        <li><a href="#">Chứng khoán Việt Nam</a></li>
		        <li><a href="#">HPS-ors</a></li>
		      </ul>
		      <ul class="nav navbar-nav" style="margin-left: 20px;">
		       		<div class="number-phone">
		       			<span class="phone"><i class="fa fa-phone" aria-hidden="true"></i>0986 939 720</span>
		       			</br>
		       			<span class="email">info@your.gmail.com</span>
		       		</div>
		      </ul>
	    	</div>
	  </div>
	</nav>
	<div class="banner-header container-fluid" style="padding:0 !important;">
	    <div class="swiper-container">
	        <div class="swiper-wrapper">
	        	<div class="swiper-slide">
	        		<img src="images/banner2.jpg">
	        		<div class="container">
						<div class="col-md-6 text-banner">
							<div class="center-banner">
								<h2>HPSTANDARD.COM</h2>
								<h1>AT YOUR SERVICE</h1>
								<h4>WE HELP ORGANIZATIONS IMPROVE THEIR PERFORMANCE</h4>
								<div class="bt-read">Read more    <i class="fa fa-caret-right" aria-hidden="true"></i></div>
							</div>
						</div>
					</div>
	        	</div>
	        	<div class="swiper-slide">
	        		<img src="images/banner2.jpg">
	        		<div class="container">
						<div class="col-md-6 text-banner">
							<div class="center-banner">
								<h2>HPSTANDARD.COM</h2>
								<h1>AT YOUR SERVICE</h1>
								<h4>WE HELP ORGANIZATIONS IMPROVE THEIR PERFORMANCE</h4>
								<div class="bt-read">Read more    <i class="fa fa-caret-right" aria-hidden="true"></i></div>
							</div>
						</div>
					</div>
	        	</div>
	        </div>
	        <div class="swiper-pagination"></div>
    	</div>
	</div>
	<div class="your-company container-fluid" style="padding:0 !important;">
		<h2 class="your-profile">VỀ CHÚNG TÔI</h2>
		<div class="col-md-6 banner-info" style="padding:0 !important;">
			<img src="https://www.azwestern.edu/sites/default/files/campus-map/buildings/eb_building.jpg">
		</div>
		<div class="col-md-6 info-company ">
			<h1 id="wel">Wellcome</h1>
			<div class="name-company" style="display: flex;">
				<h2>to</h2><h1> HPSTANDARD</h1>
			</div>
			<div class="present-com">
				At the Exit and Entry Office of Public Security Department of central-affiliated cities and provinces for cases of passport initial issuance, re-issuance, amendment and supplementation. Declaration is not required for confirmation of Public Security Offices of commune, ward or township where the applicant permanently or temporarily resides; supplementation of children under 9 years old into passports of mothers or fathers is comply with point 2 section I of this Circular;
				</br>
				</br>
				When submitting dossier, it is required to present valid ID card, in case of temporary residence, it is required to present additionally the temporary residence book granted by competent agencies specified in the Circular No. 52/2010/TT-BCA, of November 30, 2010 of the Ministry of Public Security for examination, comparison.
			</div>
		</div>
	</div>
	<div class="container" style="text-align: center;">
		<h2 class="your-profile">SẢN PHẨM & DỊCH VỤ</h2>
		<h4 class="tieu-de">Tại HPSTANDARD chúng tôi cung cấp các dịch vụ</h4>
		<div class="col-md-4 product-company">
			<img src="http://static.tapchitaichinh.vn/Uploaded/hongvan/imgpress_635314208067550080_635314208503102845_635314209020399754.jpg">
			<div class="content">
				<h2>PRIVATE CLIENT</h2>
				<h4>Work With Experts</h4>
				<p>Dành cho nhóm khách hàng cá nhân bao gồm tư vấn hoặc hợp tác đầu tư chứng khoán, bất động sản, thuế thu nhập cá nhân và tư vấn định cư...</p>
			</div>
		</div>
		<div class="col-md-4 product-company">
			<img src="http://www.phimcachnhiet.com.vn/upload/caooc.jpg">
			<div class="content">
				<h2>INSTITUTIONAL CLIENTS</h2>
				<h4>Achieve Your Goals</h4>
				<p>Dành cho khối khách hàng tổ chức tư vấn và hợp tác đầu tư chứng khoán, cố vấn hoạch định tài chính và kêu gọi vốn thông qua hoạt động...</p>
			</div>
		</div>
		<div class="col-md-4 product-company">
			<img src="http://1.bp.blogspot.com/-GClU3Zo03JM/Uuhto488gUI/AAAAAAAAABo/fXckl3h_g8o/s1600/origenes+de+la+administracion.jpg">
			<div class="content">
				<h2>FINANCIAL EXPERTS</h2>
				<h4>Grow Your Business</h4>
				<p>Dành cho các chuyên gia tư vấn tài chính: Chúng tôi cung cấp một hệ sinh thái các dịch vụ để các chuyên gia trong lĩnh vực tư vấn đầu tư...</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="container">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-8 number-phone-company">
			<div class="call-now">
				<div style="font-weight: bold;font-size: 15px;">Gọi ngay đến HPSTANDARD được tư vấn trực tiếp</div> 
				</br>
				<span class="phone-x"><img src="images/phone.png"> 0986 939 720</span>
			</div>
		</div>
	</div>
	<div class="container-fluid personnel-company" style="">
		<img src="http://images.tapchianhdep.net/15-12hinh-anh-dep-nhung-thanh-pho-ruc-ro-anh-dien-ve-dem13.jpg">
		<div class="member container">
				<div class="text-pef">
					<h2>ĐỘI NGŨ</h2>
					<h1>HPSTANDARD</h1>
				</div>
				<div class="col-md-6 left-per">
					<div class="info-per">
						<div class="col-md-3 avatar">
							<img src="http://vnreview.vn/image/16/13/18/1613189.jpg?t=1483586826740">
						</div>
						<div class="col-md-9 name-per">
							<h3>NGUYỄN VĂN A</h3>
							<h4>CEO</h4>
							<div class="line">
								<p>Circular No. 05/2013/TT-BCT dated February 18, 2013 of the Ministry of </p>
							</div>
						</div>
					</div>
						<div class="info-per">
						<div class="col-md-3 avatar">
							<img src="http://vnreview.vn/image/16/13/18/1613189.jpg?t=1483586826740">
						</div>
						<div class="col-md-9 name-per">
							<h3>NGUYỄN VĂN A</h3>
							<h4>CEO</h4>
							<div class="line">
								<p>Circular No. 05/2013/TT-BCT dated February 18, 2013 of the Ministry of </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 left-per">
					<div  class="info-per">
						<div class="col-md-3 avatar">
							<img src="http://vnreview.vn/image/16/13/18/1613189.jpg?t=1483586826740">
						</div>
						<div class="col-md-9 name-per">
							<h3>NGUYỄN VĂN A</h3>
							<h4>CEO</h4>
							<div class="line">
								<p>Circular No. 05/2013/TT-BCT dated February 18, 2013 of the Ministry of </p>
							</div>
						</div>
					</div>
					<div class="info-per">
						<div class="col-md-3 avatar">
							<img src="http://vnreview.vn/image/16/13/18/1613189.jpg?t=1483586826740">
						</div>
						<div class="col-md-9 name-per">
							<h3>NGUYỄN VĂN A</h3>
							<h4>CEO</h4>
							<div class="line">
								<p>Circular No. 05/2013/TT-BCT dated February 18, 2013 of the Ministry of </p>
							</div>
						</div>
					</div>
				</div>
				
		</div>
	</div>
	<div class="container" style="text-align: center;">
		<h2 style="padding-top: 20px;">TIN TỨC CHỨNG KHOÁN</h2>
		<div class="col-md-3 product-company">
			<img style="width: 100%;" src="http://www.urwallpapers.com/download/2721/Architecture/hd_wallpaper_architecture_night_city_wallpaper-1600x900.jpg">
			<div class="content">
				<h4>PRIVATE CLIENT</h4>
				<h4>Work With Experts</h4>
				<p>Dành cho nhóm khách hàng cá nhân bao gồm tư vấn hoặc hợp tác đầu tư chứng khoán, bất động sản, thuế thu nhập cá nhân và tư vấn định cư...</p>
			</div>
		</div>
		<div class="col-md-3 product-company">
			<img style="width: 100%;" src="http://khudothimoi.com/images/trung-tam-thuong-mai/509/du-an-toa-nha-cao-oc-van-phong-hmtc-tphcm.jpg">
			<div class="content">
				<h4>INSTITUTIONAL CLIENTS</h4>
				<h4>Achieve Your Goals</h4>
				<p>Dành cho khối khách hàng tổ chức tư vấn và hợp tác đầu tư chứng khoán, cố vấn hoạch định tài chính và kêu gọi vốn thông qua hoạt động...</p>
			</div>
		</div>
		<div class="col-md-3 product-company">
			<img style="width: 100%;" src="http://saigonhouse.vn/wp-content/uploads/2015/04/the-landmark81-vingroup-1419082813.jpg">
			<div class="content">
				<h4>FINANCIAL EXPERTS</h4>
				<h4>Grow Your Business</h4>
				<p>Dành cho các chuyên gia tư vấn tài chính: Chúng tôi cung cấp một hệ sinh thái các dịch vụ để các chuyên gia trong lĩnh vực tư vấn đầu tư...</p>
			</div>
		</div>
		<div class="col-md-3 product-company">
			<img style="width: 100%;" src="https://tinhte.cdnforo.com/store/2013/03/3323810_twisting-agora-tower-taipei-9.png">
			<div class="content">
				<h4>FINANCIAL EXPERTS</h4>
				<h4>Grow Your Business</h4>
				<p>Dành cho các chuyên gia tư vấn tài chính: Chúng tôi cung cấp một hệ sinh thái các dịch vụ để các chuyên gia trong lĩnh vực tư vấn đầu tư...</p>
			</div>
		</div>
	</div>


	<footer>
		<div class="container-fluid footer-content" style="padding:0 !important">
			<div class="col-md-6 lien-he-footer" style="padding:10px 80px;">
				<h2>LIÊN HỆ</h2>
				<h5>Hãy gọi 0986 939 720 hoặc điền thông tin bên dưới để đội ngủ HPSTANDARD được tư vấn thông tin đến quý khách nhanh chóng và chính xác nhất</h5>
				<div class="input-name" style="display: flex;">
					<input type="text" name="" placeholder="Họ và tên">
					<input type="text" name="" placeholder="Email">
				</div>
				<div class="input-tieu-de">
					<input type="text" name="" placeholder="Tiêu đề">
				</div>
				<div class="input-tieu-de">
					<input style="height: 100px;" type="text" name="" placeholder="Lời nhắn">
				</div>
			</div>
			<div class="col-md-6 footer-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.96779446793815!2d106.64157359512855!3d10.774139182298386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ebccf6310b9%3A0x57fac5572619320c!2zNDkvNDAvNDAgVHLhu4tuaCDEkMOsbmggVHLhu41uZywgUGjDuiBUcnVuZywgVMOibiBQaMO6LCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2sin!4v1506405076031" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		<div style="background-color: #22384d;padding: 20px; color: #fff; text-align: center;"> 2017|| HPSTANDARD</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script type="text/javascript">
		 var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        spaceBetween: 30,
	        centeredSlides: true,
        	autoplay: 2500,
        	autoplayDisableOnInteraction: false,
        	loop:true
	    });
		 $(document).ready(function() {

			 $('#contactlink').click = function (){
			  $(document).scrollTo('#contact');
			 } 

		});
	</script>
</body>
</html>