@{
    ViewBag.Title = "Đổi mật khẩu";
}

<h3>
    Thay đổi mật khẩu thành công.
</h3>
<a class="btn btn-link" onclick="window.history.back()">Quay lại</a> |
<a class="btn btn-link" href="@Url.Content("~/Home/")">Về trang chủ</a>