html {
  font-size: 10px;
}

body {
  a {
    text-decoration: none;
    cursor: pointer;
  }
  p {
    font-size: 1.3rem;
  }
}

.menu-header {
  min-height: 80px;
  border-radius: 0px;
  background-color: #22384d;
  margin: 0px;
  @media(max-width: 991px) {
    .container {
      width: 100%;
    }
  }
}

.navbar-brand {
  display: inline-block;
  img {
    height: 55px
  }
}

.navbar-header {
  @media(min-width: 768px) {
    height: 55px;
    width: 70px;
  }
}

.menu-cate {
  width: 90%;
  float: right;
  padding-top: 15px;
  @media(min-width: 768px) {
    width: calc(100% - 70px);
  }
}
.nav>li>a{
  padding: 10px 20px;
}
.navbar-nav {
  width: 100%;
  li {
    font-size: 15px;
    border-left: 1px solid #2f99ff;
    &:first-child{
      border:none;
    }          
    a {
      padding-top: 10px;
      padding-bottom: 10px;
      @media(max-width: 767px){
        padding-left: 0;
      }
    }
  }
}
.navbar-toggle{
  margin-top: 20px;
}

.number-phone {
  .phone {
    color: #fff;
    font-size: 20px;
  }
  i {
    margin: 0 10px;
  }
  .email {
    margin-left: 20px;
    color: #2f99ff;
    font-size: 15px;
  }
}

.banner-header img {
  width: 100%;
  height: 100%;
  position: relative;
}

/*.banner-header{
	height: 500px;
    width: 100%;
	background-image: url('../images/banner2.jpg');
}*/
.text-banner {
  position: absolute;
  top: 200px;

}

.center-banner h2 {
  color: #fbc710;
}

.center-banner h1, .center-banner h4 {
  color: #fff;
}

.bt-read {
  width: 120px;
  padding: 8px;
  margin-top: 40px;
  border-radius: 18px;
  background-color: #fbc710;
  color: #fff;
  font-size: 15px;
}

.bt-read .fa {
  margin-left: 15px;
}

.your-profile {
  padding: 20px 0;
  text-align: center;
  color: #fbc710;
}

.tieu-de {
  text-align: center;
  color: #5b6975;
  padding: 0;
  margin: 0;
}

.banner-info img {
  width: 100%;
  height: 400px;
}

.your-company {
  .banner-info {
    padding-top: 30px;
  }
  .info-company {
    padding-left: 15px;
  }

  @media(min-width: 768px) {
    padding: 0;
    .container-company {
      display: -webkit-flex; /* Safari */
      -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
      display: flex;
      flex-direction: row-reverse;
    }
    .banner-info {
      padding: 0;
    }
    .info-company {
      padding-left: 50px;
    }
  }

}

.info-company #wel {
  font-style: italic;
  margin: 0;
  font-family: -webkit-body;
  font-size: 4rem;

}

.info-company .name-company {
  h1, h2 {
    display: inline-block;
  }
  h2 {
    font-style: italic;
    font-size: 4rem;
    margin-right: 20px;
    font-family: -webkit-body;
  }
  h1 {
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
  }
}

.present-com {
  margin-top: 20px;
  padding-left: 50px;
  border-left: 13px solid #fbc710;
  font-size: 1.3rem;
  @media(min-width: 768px) {
    font-size: 1.4rem;
  }
}

.product-company {
  margin-top: 50px;
  height: 450px;
}

.product-company img {
  width: 100%;
  height: 220px;
}

.content {
  padding: 0 5px;
}

.content h2 {
  font-style: italic;
  font-family: -webkit-body;
  font-size: 2.2rem;
  margin-right: 20px;
  color: #969696;
}

.content h4 {
  font-style: italic;
  font-family: -webkit-body;
  color: #969696;
}

.content p {
  margin-top: 30px;
}

.number-phone-company {
  height: 100px;
  text-align: center;
  border-left: 13px solid #fbc710;
  margin-bottom: 30px;
}

.phone-x {
  margin-top: 20px;
  padding: 10px;
  background-color: #22384d;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
}

.phone-x img {
  margin-right: 10px;
}

.personnel-company {
  margin-top: 20px;
  height: 100%;
  padding: 0px;
  position: relative;
  background-image: url('http://images.tapchianhdep.net/15-12hinh-anh-dep-nhung-thanh-pho-ruc-ro-anh-dien-ve-dem13.jpg');
  background-size: cover;
}

.member {
  top: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  h2 {
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    span {
      color: #2d86dc;
    }
  }
  .col-per {
    margin: 20px 0 50px 0;
  }
}

.avatar img {
  width: 100%;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.name-per {
  color: #fff;
}

.text-pef {
  margin-bottom: 20px;
  margin-top: 70px;
}

.info-per {
  float: right;
}

.line {
  border-top: 3px solid #22384d;
  padding: 10px 0;
}

.footer-map {
  padding: 40px 0;
}

.footer-map iframe {
  width: 100%;
  height: 300px;
}

footer {
  background-image: url("http://sanvemaybay.vn/includes/uploads/2014/12/dia-diem-ban-phao-hoa-2015-tai-toa-nha-bitexco-sanvemaybay-5-500x288.jpg");
}

.footer-content {
  background-color: rgba(0, 0, 0, 0.5);
}

.lien-he-footer h2 {
  color: #fbc710;
}

.lien-he-footer h5 {
  color: #fff;
}

.input-name input {
  margin-top: 20px;
  height: 40px;
  padding: 10px;
  width: 100%;
}

.input-tieu-de input {
  margin-top: 20px;
  height: 40px;
  padding: 10px;
  width: 100%;
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
  .text-banner {
    position: absolute;
    top: 100px;
  }
  .text-pef {
    display: flex;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .member h2 {
    color: #fff;
  }
  .col-per {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 400px) {
  .info-per {
    float: none;
  }
  .col-per {
    margin-top: 0px;
  }

  .name-pef h3 {
    font-size: 1rem;
  }
  .name-pef h4 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 767px) and (min-width: 400px) {
  .text-banner {
    position: absolute;
    top: 50px;
  }

  .center-banner h2 {
    font-size: 1.4rem;
  }
  .center-banner h1 {
    margin-top: 8px;
    font-size: 1.8rem;
  }
  .center-banner h4 {
    font-size: 1rem;
  }
  .bt-read {
    width: 100px;
    padding: 6px;
    margin-top: 10px;
    font-size: 1.1rem;
  }

}

